# Assignment 3

In [116]:
import pandas as pd

In [1]:
from pydataset import data

In [2]:
import numpy as np

In [84]:
import pandas as pd

In [3]:
df = data('airquality')

## Tasks
### T1. Inspect the structure

- Show the shape (rows, columns)
- List column names and dtypes
- Display the first 5 and last 5 row

#### Shape
- The shape property returns a tuple containing the shape of the DataFrame.

- The shape is the number of rows and columns of the DataFrame

In [60]:
print(df.shape)

(153, 6)

#### Head
- This function returns the first n rows for the object based on position. It is useful for quickly testing if your object has the right type of data in it.

In [63]:
print(df.head()) # By default first 5 Rows

   Ozone  Solar.R  Wind  Temp  Month  Day
1   41.0    190.0   7.4    67      5    1
2   36.0    118.0   8.0    72      5    2
3   12.0    149.0  12.6    74      5    3
4   18.0    313.0  11.5    62      5    4
5    NaN      NaN  14.3    56      5    5

In [64]:
print(df.head(10))

    Ozone  Solar.R  Wind  Temp  Month  Day
1    41.0    190.0   7.4    67      5    1
2    36.0    118.0   8.0    72      5    2
3    12.0    149.0  12.6    74      5    3
4    18.0    313.0  11.5    62      5    4
5     NaN      NaN  14.3    56      5    5
6    28.0      NaN  14.9    66      5    6
7    23.0    299.0   8.6    65      5    7
8    19.0     99.0  13.8    59      5    8
9     8.0     19.0  20.1    61      5    9
10    NaN    194.0   8.6    69      5   10

#### Tail
- This function returns last n rows from the object based on position. It is useful for quickly verifying data, for example, after sorting or appending rows.

In [65]:
print(df.tail()) # By default last 5 rows

     Ozone  Solar.R  Wind  Temp  Month  Day
149   30.0    193.0   6.9    70      9   26
150    NaN    145.0  13.2    77      9   27
151   14.0    191.0  14.3    75      9   28
152   18.0    131.0   8.0    76      9   29
153   20.0    223.0  11.5    68      9   30

In [66]:
df.tail(3)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   14.0    191.0  14.3    75      9   28
152   18.0    131.0   8.0    76      9   29
153   20.0    223.0  11.5    68      9   30

#### Dtypes 
- The dtypes property in a Python pandas DataFrame returns a Series containing the data type of each column in the DataFrame

In [67]:
print(df.dtypes) # float: Decimal; Integer: without decimal

Ozone      float64
Solar.R    float64
Wind       float64
Temp         int64
Month        int64
Day          int64
dtype: object

#### Column
- The column labels of the DataFrame.

In [10]:
df.columns

Index(['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day'], dtype='object')

#### Index 
- The index (row labels) of the DataFrame.

- The index of a DataFrame is a series of labels that identify each row. The labels can be integers, strings, or any other hashable type. The index is used for label-based access and alignment, and can be accessed or modified using this attribute.

In [11]:
df.index

Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
       ...
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153],
      dtype='int64', length=153)

#### Info
- Print a concise summary of a DataFrame.

- This method prints information about a DataFrame including the index dtype and columns, non-null values and memory usage.

In [12]:
df.info

<bound method DataFrame.info of      Ozone  Solar.R  Wind  Temp  Month  Day
1     41.0    190.0   7.4    67      5    1
2     36.0    118.0   8.0    72      5    2
3     12.0    149.0  12.6    74      5    3
4     18.0    313.0  11.5    62      5    4
5      NaN      NaN  14.3    56      5    5
6     28.0      NaN  14.9    66      5    6
7     23.0    299.0   8.6    65      5    7
8     19.0     99.0  13.8    59      5    8
9      8.0     19.0  20.1    61      5    9
10     NaN    194.0   8.6    69      5   10
11     7.0      NaN   6.9    74      5   11
12    16.0    256.0   9.7    69      5   12
13    11.0    290.0   9.2    66      5   13
14    14.0    274.0  10.9    68      5   14
15    18.0     65.0  13.2    58      5   15
16    14.0    334.0  11.5    64      5   16
17    34.0    307.0  12.0    66      5   17
18     6.0     78.0  18.4    57      5   18
19    30.0    322.0  11.5    68      5   19
20    11.0     44.0   9.7    62      5   20
21     1.0      8.0   9.7    59      5   21
22    11.0    320.0  16.6    73      5   22
23     4.0     25.0   9.7    61      5   23
24    32.0     92.0  12.0    61      5   24
25     NaN     66.0  16.6    57      5   25
26     NaN    266.0  14.9    58      5   26
27     NaN      NaN   8.0    57      5   27
28    23.0     13.0  12.0    67      5   28
29    45.0    252.0  14.9    81      5   29
30   115.0    223.0   5.7    79      5   30
31    37.0    279.0   7.4    76      5   31
32     NaN    286.0   8.6    78      6    1
33     NaN    287.0   9.7    74      6    2
34     NaN    242.0  16.1    67      6    3
35     NaN    186.0   9.2    84      6    4
36     NaN    220.0   8.6    85      6    5
37     NaN    264.0  14.3    79      6    6
38    29.0    127.0   9.7    82      6    7
39     NaN    273.0   6.9    87      6    8
40    71.0    291.0  13.8    90      6    9
41    39.0    323.0  11.5    87      6   10
42     NaN    259.0  10.9    93      6   11
43     NaN    250.0   9.2    92      6   12
44    23.0    148.0   8.0    82      6   13
45     NaN    332.0  13.8    80      6   14
46     NaN    322.0  11.5    79      6   15
47    21.0    191.0  14.9    77      6   16
48    37.0    284.0  20.7    72      6   17
49    20.0     37.0   9.2    65      6   18
50    12.0    120.0  11.5    73      6   19
51    13.0    137.0  10.3    76      6   20
52     NaN    150.0   6.3    77      6   21
53     NaN     59.0   1.7    76      6   22
54     NaN     91.0   4.6    76      6   23
55     NaN    250.0   6.3    76      6   24
56     NaN    135.0   8.0    75      6   25
57     NaN    127.0   8.0    78      6   26
58     NaN     47.0  10.3    73      6   27
59     NaN     98.0  11.5    80      6   28
60     NaN     31.0  14.9    77      6   29
61     NaN    138.0   8.0    83      6   30
62   135.0    269.0   4.1    84      7    1
63    49.0    248.0   9.2    85      7    2
64    32.0    236.0   9.2    81      7    3
65     NaN    101.0  10.9    84      7    4
66    64.0    175.0   4.6    83      7    5
67    40.0    314.0  10.9    83      7    6
68    77.0    276.0   5.1    88      7    7
69    97.0    267.0   6.3    92      7    8
70    97.0    272.0   5.7    92      7    9
71    85.0    175.0   7.4    89      7   10
72     NaN    139.0   8.6    82      7   11
73    10.0    264.0  14.3    73      7   12
74    27.0    175.0  14.9    81      7   13
75     NaN    291.0  14.9    91      7   14
76     7.0     48.0  14.3    80      7   15
77    48.0    260.0   6.9    81      7   16
78    35.0    274.0  10.3    82      7   17
79    61.0    285.0   6.3    84      7   18
80    79.0    187.0   5.1    87      7   19
81    63.0    220.0  11.5    85      7   20
82    16.0      7.0   6.9    74      7   21
83     NaN    258.0   9.7    81      7   22
84     NaN    295.0  11.5    82      7   23
85    80.0    294.0   8.6    86      7   24
86   108.0    223.0   8.0    85      7   25
87    20.0     81.0   8.6    82      7   26
88    52.0     82.0  12.0    86      7   27
89    82.0    213.0   7.4    88      7   28
90    50.0    275.0   7.4    86      7   29
91    64.0    253.0   7.4    83      7   30
92    59.0    254.0   9.2    81      7   31
93    39.0     83.0   6.9    81      8    1
94     9.0     24.0  13.8    81      8    2
95    16.0     77.0   7.4    82      8    3
96    78.0      NaN   6.9    86      8    4
97    35.0      NaN   7.4    85      8    5
98    66.0      NaN   4.6    87      8    6
99   122.0    255.0   4.0    89      8    7
100   89.0    229.0  10.3    90      8    8
101  110.0    207.0   8.0    90      8    9
102    NaN    222.0   8.6    92      8   10
103    NaN    137.0  11.5    86      8   11
104   44.0    192.0  11.5    86      8   12
105   28.0    273.0  11.5    82      8   13
106   65.0    157.0   9.7    80      8   14
107    NaN     64.0  11.5    79      8   15
108   22.0     71.0  10.3    77      8   16
109   59.0     51.0   6.3    79      8   17
110   23.0    115.0   7.4    76      8   18
111   31.0    244.0  10.9    78      8   19
112   44.0    190.0  10.3    78      8   20
113   21.0    259.0  15.5    77      8   21
114    9.0     36.0  14.3    72      8   22
115    NaN    255.0  12.6    75      8   23
116   45.0    212.0   9.7    79      8   24
117  168.0    238.0   3.4    81      8   25
118   73.0    215.0   8.0    86      8   26
119    NaN    153.0   5.7    88      8   27
120   76.0    203.0   9.7    97      8   28
121  118.0    225.0   2.3    94      8   29
122   84.0    237.0   6.3    96      8   30
123   85.0    188.0   6.3    94      8   31
124   96.0    167.0   6.9    91      9    1
125   78.0    197.0   5.1    92      9    2
126   73.0    183.0   2.8    93      9    3
127   91.0    189.0   4.6    93      9    4
128   47.0     95.0   7.4    87      9    5
129   32.0     92.0  15.5    84      9    6
130   20.0    252.0  10.9    80      9    7
131   23.0    220.0  10.3    78      9    8
132   21.0    230.0  10.9    75      9    9
133   24.0    259.0   9.7    73      9   10
134   44.0    236.0  14.9    81      9   11
135   21.0    259.0  15.5    76      9   12
136   28.0    238.0   6.3    77      9   13
137    9.0     24.0  10.9    71      9   14
138   13.0    112.0  11.5    71      9   15
139   46.0    237.0   6.9    78      9   16
140   18.0    224.0  13.8    67      9   17
141   13.0     27.0  10.3    76      9   18
142   24.0    238.0  10.3    68      9   19
143   16.0    201.0   8.0    82      9   20
144   13.0    238.0  12.6    64      9   21
145   23.0     14.0   9.2    71      9   22
146   36.0    139.0  10.3    81      9   23
147    7.0     49.0  10.3    69      9   24
148   14.0     20.0  16.6    63      9   25
149   30.0    193.0   6.9    70      9   26
150    NaN    145.0  13.2    77      9   27
151   14.0    191.0  14.3    75      9   28
152   18.0    131.0   8.0    76      9   29
153   20.0    223.0  11.5    68      9   30>

#### Sample 
- Return a random sample of items from an axis of object.

In [13]:
df.sample()

    Ozone  Solar.R  Wind  Temp  Month  Day
43    NaN    250.0   9.2    92      6   12

In [14]:
df.sample(4)

     Ozone  Solar.R  Wind  Temp  Month  Day
113   21.0    259.0  15.5    77      8   21
27     NaN      NaN   8.0    57      5   27
117  168.0    238.0   3.4    81      8   25
127   91.0    189.0   4.6    93      9    4

### T2. Basic summary stats
- Produce descriptive statistics for numeric columns.
- For each column, show number of unique values.

#### Describe 
- The describe() method in Pandas is used to generate descriptive statistics that summarize the central tendency, dispersion, and shape of a dataset's distribution. It is a powerful tool for quickly understanding the key characteristics of your data.

In [15]:
df.describe()

            Ozone     Solar.R        Wind        Temp       Month         Day
count  116.000000  146.000000  153.000000  153.000000  153.000000  153.000000
mean    42.129310  185.931507    9.957516   77.882353    6.993464   15.803922
std     32.987885   90.058422    3.523001    9.465270    1.416522    8.864520
min      1.000000    7.000000    1.700000   56.000000    5.000000    1.000000
25%     18.000000  115.750000    7.400000   72.000000    6.000000    8.000000
50%     31.500000  205.000000    9.700000   79.000000    7.000000   16.000000
75%     63.250000  258.750000   11.500000   85.000000    8.000000   23.000000
max    168.000000  334.000000   20.700000   97.000000    9.000000   31.000000

In [16]:
df.Ozone.describe()

count    116.000000
mean      42.129310
std       32.987885
min        1.000000
25%       18.000000
50%       31.500000
75%       63.250000
max      168.000000
Name: Ozone, dtype: float64

In [17]:
df.Wind.value_counts()

Wind
11.5    15
8.0     11
9.7     11
10.3    11
7.4     10
6.9      9
8.6      8
10.9     8
9.2      8
6.3      8
14.9     8
14.3     6
13.8     5
12.0     4
4.6      4
5.1      3
15.5     3
12.6     3
16.6     3
5.7      3
13.2     2
20.1     1
16.1     1
1.7      1
20.7     1
18.4     1
4.1      1
4.0      1
3.4      1
2.3      1
2.8      1
Name: count, dtype: int64

#### Unique 
- The nunique() method in pandas is used to count the number of unique values in a Series (a single column of a DataFrame) or across the entire DataFrame.

In [18]:
df.nunique()

Ozone       67
Solar.R    117
Wind        31
Temp        40
Month        5
Day         31
dtype: int64

### T3. Missing values
- Count missing values per column.
- Create a copy df_mv where you impute:
- Ozone: fill with the column median (numeric)
- Solar.R: fill with the column mean (numeric)
- Briefly comment: why might median be preferred over mean in some cases? (Add a markdown cell.)

#### Missing
- In Pandas, missing data occurs when some values are missing or not collected properly and these missing values are represented as:
  -  None: A Python object used to represent missing values in object-type arrays.
  -  NaN: A special floating-point value from NumPy which is recognized by all systems that use IEEE floating-point standards.
  -  In computer science, boolean refers to a data type that can have one of two values: true or false

In [19]:
df.isnull() # True indicates a missing value and False indicates a non-missing value.

     Ozone  Solar.R   Wind   Temp  Month    Day
1    False    False  False  False  False  False
2    False    False  False  False  False  False
3    False    False  False  False  False  False
4    False    False  False  False  False  False
5     True     True  False  False  False  False
6    False     True  False  False  False  False
7    False    False  False  False  False  False
8    False    False  False  False  False  False
9    False    False  False  False  False  False
10    True    False  False  False  False  False
11   False     True  False  False  False  False
12   False    False  False  False  False  False
13   False    False  False  False  False  False
14   False    False  False  False  False  False
15   False    False  False  False  False  False
16   False    False  False  False  False  False
17   False    False  False  False  False  False
18   False    False  False  False  False  False
19   False    False  False  False  False  False
20   False    False  False  False  False  False
21   False    False  False  False  False  False
22   False    False  False  False  False  False
23   False    False  False  False  False  False
24   False    False  False  False  False  False
25    True    False  False  False  False  False
26    True    False  False  False  False  False
27    True     True  False  False  False  False
28   False    False  False  False  False  False
29   False    False  False  False  False  False
30   False    False  False  False  False  False
31   False    False  False  False  False  False
32    True    False  False  False  False  False
33    True    False  False  False  False  False
34    True    False  False  False  False  False
35    True    False  False  False  False  False
36    True    False  False  False  False  False
37    True    False  False  False  False  False
38   False    False  False  False  False  False
39    True    False  False  False  False  False
40   False    False  False  False  False  False
41   False    False  False  False  False  False
42    True    False  False  False  False  False
43    True    False  False  False  False  False
44   False    False  False  False  False  False
45    True    False  False  False  False  False
46    True    False  False  False  False  False
47   False    False  False  False  False  False
48   False    False  False  False  False  False
49   False    False  False  False  False  False
50   False    False  False  False  False  False
51   False    False  False  False  False  False
52    True    False  False  False  False  False
53    True    False  False  False  False  False
54    True    False  False  False  False  False
55    True    False  False  False  False  False
56    True    False  False  False  False  False
57    True    False  False  False  False  False
58    True    False  False  False  False  False
59    True    False  False  False  False  False
60    True    False  False  False  False  False
61    True    False  False  False  False  False
62   False    False  False  False  False  False
63   False    False  False  False  False  False
64   False    False  False  False  False  False
65    True    False  False  False  False  False
66   False    False  False  False  False  False
67   False    False  False  False  False  False
68   False    False  False  False  False  False
69   False    False  False  False  False  False
70   False    False  False  False  False  False
71   False    False  False  False  False  False
72    True    False  False  False  False  False
73   False    False  False  False  False  False
74   False    False  False  False  False  False
75    True    False  False  False  False  False
76   False    False  False  False  False  False
77   False    False  False  False  False  False
78   False    False  False  False  False  False
79   False    False  False  False  False  False
80   False    False  False  False  False  False
81   False    False  False  False  False  False
82   False    False  False  False  False  False
83    True    False  False  False  False  False
84    True    False  False  False  False  False
85   False    False  False  False  False  False
86   False    False  False  False  False  False
87   False    False  False  False  False  False
88   False    False  False  False  False  False
89   False    False  False  False  False  False
90   False    False  False  False  False  False
91   False    False  False  False  False  False
92   False    False  False  False  False  False
93   False    False  False  False  False  False
94   False    False  False  False  False  False
95   False    False  False  False  False  False
96   False     True  False  False  False  False
97   False     True  False  False  False  False
98   False     True  False  False  False  False
99   False    False  False  False  False  False
100  False    False  False  False  False  False
101  False    False  False  False  False  False
102   True    False  False  False  False  False
103   True    False  False  False  False  False
104  False    False  False  False  False  False
105  False    False  False  False  False  False
106  False    False  False  False  False  False
107   True    False  False  False  False  False
108  False    False  False  False  False  False
109  False    False  False  False  False  False
110  False    False  False  False  False  False
111  False    False  False  False  False  False
112  False    False  False  False  False  False
113  False    False  False  False  False  False
114  False    False  False  False  False  False
115   True    False  False  False  False  False
116  False    False  False  False  False  False
117  False    False  False  False  False  False
118  False    False  False  False  False  False
119   True    False  False  False  False  False
120  False    False  False  False  False  False
121  False    False  False  False  False  False
122  False    False  False  False  False  False
123  False    False  False  False  False  False
124  False    False  False  False  False  False
125  False    False  False  False  False  False
126  False    False  False  False  False  False
127  False    False  False  False  False  False
128  False    False  False  False  False  False
129  False    False  False  False  False  False
130  False    False  False  False  False  False
131  False    False  False  False  False  False
132  False    False  False  False  False  False
133  False    False  False  False  False  False
134  False    False  False  False  False  False
135  False    False  False  False  False  False
136  False    False  False  False  False  False
137  False    False  False  False  False  False
138  False    False  False  False  False  False
139  False    False  False  False  False  False
140  False    False  False  False  False  False
141  False    False  False  False  False  False
142  False    False  False  False  False  False
143  False    False  False  False  False  False
144  False    False  False  False  False  False
145  False    False  False  False  False  False
146  False    False  False  False  False  False
147  False    False  False  False  False  False
148  False    False  False  False  False  False
149  False    False  False  False  False  False
150   True    False  False  False  False  False
151  False    False  False  False  False  False
152  False    False  False  False  False  False
153  False    False  False  False  False  False

In [20]:
df.isnull().head()

   Ozone  Solar.R   Wind   Temp  Month    Day
1  False    False  False  False  False  False
2  False    False  False  False  False  False
3  False    False  False  False  False  False
4  False    False  False  False  False  False
5   True     True  False  False  False  False

In [21]:
df.isnull().tail()

     Ozone  Solar.R   Wind   Temp  Month    Day
149  False    False  False  False  False  False
150   True    False  False  False  False  False
151  False    False  False  False  False  False
152  False    False  False  False  False  False
153  False    False  False  False  False  False

In [22]:
df.isnull().sum(axis=0) #counting missing values, columns wise, axis=0 (Columns)

Ozone      37
Solar.R     7
Wind        0
Temp        0
Month       0
Day         0
dtype: int64

In [23]:
df.isnull().sum() # df.isnull().sum() — is same as df.isnull().sum(axis=0) because by default, Pandas uses axis=0 for column-wise operations.

Ozone      37
Solar.R     7
Wind        0
Temp        0
Month       0
Day         0
dtype: int64

In [24]:
df.isnull().sum().sum()

np.int64(44)

In [138]:
int(df.isnull().sum().sum())

44

In [25]:
df.isna().sum()

Ozone      37
Solar.R     7
Wind        0
Temp        0
Month       0
Day         0
dtype: int64

In [26]:
# In pandas, df.isna().sum() and df.isnull().sum() are functionally identical and serve the same purpose: to count the number of missing (NaN) values in each column of a DataFrame.

In [27]:
df.isnull().sum(axis=1) # count missing values, rowwise , axis=1 (Rows); 1: Indicates value is not missing and 0: Indicates value is missing

1      0
2      0
3      0
4      0
5      2
6      1
7      0
8      0
9      0
10     1
11     1
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     1
26     1
27     2
28     0
29     0
30     0
31     0
32     1
33     1
34     1
35     1
36     1
37     1
38     0
39     1
40     0
41     0
42     1
43     1
44     0
45     1
46     1
47     0
48     0
49     0
50     0
51     0
52     1
53     1
54     1
55     1
56     1
57     1
58     1
59     1
60     1
61     1
62     0
63     0
64     0
65     1
66     0
67     0
68     0
69     0
70     0
71     0
72     1
73     0
74     0
75     1
76     0
77     0
78     0
79     0
80     0
81     0
82     0
83     1
84     1
85     0
86     0
87     0
88     0
89     0
90     0
91     0
92     0
93     0
94     0
95     0
96     1
97     1
98     1
99     0
100    0
101    0
102    1
103    1
104    0
105    0
106    0
107    1
108    0
109    0
110    0
111    0
112    0
113    0
114    0
115    1
116    0
117    0
118    0
119    1
120    0
121    0
122    0
123    0
124    0
125    0
126    0
127    0
128    0
129    0
130    0
131    0
132    0
133    0
134    0
135    0
136    0
137    0
138    0
139    0
140    0
141    0
142    0
143    0
144    0
145    0
146    0
147    0
148    0
149    0
150    1
151    0
152    0
153    0
dtype: int64

In [28]:
df.notnull().sum(axis=0) # for each column, count non-missing values,

Ozone      116
Solar.R    146
Wind       153
Temp       153
Month      153
Day        153
dtype: int64

#### Copy
- The df.copy() method in pandas is used to create a copy of a DataFrame. This method is crucial when performing data manipulations to ensure that changes made to a modified version of the DataFrame do not inadvertently affect the original DataFrame

In [29]:
df_mv = df.copy()

In [30]:
df_mv.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
1   41.0    190.0   7.4    67      5    1
2   36.0    118.0   8.0    72      5    2
3   12.0    149.0  12.6    74      5    3
4   18.0    313.0  11.5    62      5    4
5    NaN      NaN  14.3    56      5    5

#### FillNa
- The fillna() method in the pandas library for Python is used to replace missing values (represented as NaN or None) in a DataFrame or Series.
  - It provides various options for filling these missing values, offering flexibility in data cleaning and preparation.

In [42]:
df_mv['Ozone'].median()

31.5

In [39]:
df_mv.fillna({'Ozone': df_mv['Ozone'].median()}, inplace=True)

In [40]:
df_mv.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
1   41.0    190.0   7.4    67      5    1
2   36.0    118.0   8.0    72      5    2
3   12.0    149.0  12.6    74      5    3
4   18.0    313.0  11.5    62      5    4
5   31.5      NaN  14.3    56      5    5

In [50]:
df['Solar.R'].mean()

np.float64(185.93150684931507)

In [47]:
df_mv['Solar.R'] = df_mv['Solar.R'].fillna(df_mv['Solar.R'].mean())

In [49]:
solar_mean_after = df_mv['Solar.R'].mean()
print("New mean after filling missing values:", solar_mean_after)

New mean after filling missing values: 185.93150684931507

### Why might the median be preferred over the mean in some cases?

- In cases where data distributions are skewed or contain outliers, the median is generally preferred over the mean as a measure of central tendency because it is less affected by extreme values.

### T4. Selecting columns & rows
  - Select the columns: Ozone, Solar.R, Temp into a new DataFrame df_sel.
  - Select the first 10 rows of df_sel.
  - Select rows where Month is May (5) or June (6) only.

#### New Data set df_sel

In [53]:
df_sel = df[['Ozone', 'Solar.R', 'Temp']].copy()

In [54]:
df_sel.head(10)

    Ozone  Solar.R  Temp
1    41.0    190.0    67
2    36.0    118.0    72
3    12.0    149.0    74
4    18.0    313.0    62
5     NaN      NaN    56
6    28.0      NaN    66
7    23.0    299.0    65
8    19.0     99.0    59
9     8.0     19.0    61
10    NaN    194.0    69

#### Column lists

In [57]:
df_sel.columns

Index(['Ozone', 'Solar.R', 'Temp'], dtype='object')

In [68]:
list(df_sel.columns)

['Ozone', 'Solar.R', 'Temp']

#### iloc
    - In Pandas is a method used for integer-location based indexing to select specific rows and columns of a DataFrame by their numerical positions.
    - It is a powerful tool for data manipulation and extraction when you need to access data based on its position within the DataFrame, rather than its labels.

In [146]:
df_sel.iloc[2:5] #2nd to 5th row, all columns

   Ozone  Solar.R  Temp
3   12.0    149.0    74
4   18.0    313.0    62
5    NaN      NaN    56

In [147]:
df_sel.iloc[[0,4]]  #index position

   Ozone  Solar.R  Temp
1   41.0    190.0    67
5    NaN      NaN    56

In [148]:
df_sel.iloc[0:4]  # range of index position,   x:y  : from x to y-1

   Ozone  Solar.R  Temp
1   41.0    190.0    67
2   36.0    118.0    72
3   12.0    149.0    74
4   18.0    313.0    62

#### Loc 
   - loc primarily uses labels (names) for indexing. This means you specify rows and columns based on their actual row and column labels in the DataFrame's index.
   - It is inclusive of both the start and end labels when slicing.
   - loc can also be used with boolean arrays for conditional selection.

In [149]:
df_sel.loc[1] #row by rowname

Ozone       41.0
Solar.R    190.0
Temp        67.0
Name: 1, dtype: float64

In [150]:
df_sel.loc[[1, 2,4]]

   Ozone  Solar.R  Temp
1   41.0    190.0    67
2   36.0    118.0    72
4   18.0    313.0    62

#### Boolean masks
- A boolean mask is a way to filter data in arrays (like those in NumPy or Pandas) by using a boolean array (an array of True/False values) as a filter. It selects elements from the original array based on whether the corresponding element in the boolean array is True or False.

In [151]:
mask = df_sel['Ozone'] > 50
print(mask.head())

1    False
2    False
3    False
4    False
5    False
Name: Ozone, dtype: bool

In [152]:
(df_sel['Ozone'] > 50).head()

1    False
2    False
3    False
4    False
5    False
Name: Ozone, dtype: bool

In [153]:
(df_sel['Ozone'] > 50).tail()

149    False
150    False
151    False
152    False
153    False
Name: Ozone, dtype: bool

In [154]:
(df_sel['Ozone'] > 50).sample(5)

56     False
49     False
96      True
87     False
121     True
Name: Ozone, dtype: bool

#### Isin
- The df.isin() method in Pandas is a powerful tool for filtering and selecting data within a DataFrame based on specified conditions. It allows you to create boolean masks to identify rows where the values in one or more columns match certain criteria. Let's delve into the details of the isin() method
    - Single Parameter Filtering
    - Multiple Parameter Filtering

In [155]:
df_sel.head()

   Ozone  Solar.R  Temp
1   41.0    190.0    67
2   36.0    118.0    72
3   12.0    149.0    74
4   18.0    313.0    62
5    NaN      NaN    56

##### Single Parameter filtering Using Pandas DataFrame.isin()

In [156]:
df_sel.isin([0,72]).head()

   Ozone  Solar.R   Temp
1  False    False  False
2  False    False   True
3  False    False  False
4  False    False  False
5  False    False  False

In [157]:
df_sel.isin({'Temp': [62, 67]}).head()

   Ozone  Solar.R   Temp
1  False    False   True
2  False    False  False
3  False    False  False
4  False    False   True
5  False    False  False

In [158]:
 df_sel['Temp'].isin([70, 75]).head()

1    False
2    False
3    False
4    False
5    False
Name: Temp, dtype: bool

##### Multiple parameter Filtering Using Pandas DataFrame.isin()

In [114]:
df_sel[df_sel['Ozone'].isin([36.0, 12.0]) & df_sel['Temp'].isin([72, 62])]

   Ozone  Solar.R  Temp
2   36.0    118.0    72

### T5. Filtering & conditions
- Filter rows where Ozone > 100 and Temp >= 85.
- Filter rows where Solar.R is missing.
- Filter rows for July (7) with Ozone between 50 and 100 (inclusive).

#### Filtering & Conditions
Pandas offers various powerful ways to filter and select data within DataFrames based on specified conditions. 
- The pandas.DataFrame.filter method is used to subset rows or columns of a DataFrame based on specific criteria.
    - items: Filters columns based on a list of column labels.
    - like: Filters columns or index labels that contain a specific substring.
    - regex: Filters columns or index labels that match a regular expression

In [163]:
df_sel[(df_sel['Ozone'] > 100) & (df_sel['Temp'] >= 85)]

     Ozone  Solar.R  Temp
86   108.0    223.0    85
99   122.0    255.0    89
101  110.0    207.0    90
121  118.0    225.0    94

In [166]:
df_sel[df_sel['Solar.R'].isnull()]

    Ozone  Solar.R  Temp
5     NaN      NaN    56
6    28.0      NaN    66
11    7.0      NaN    74
27    NaN      NaN    57
96   78.0      NaN    86
97   35.0      NaN    85
98   66.0      NaN    87

In [75]:
df[(df['Month'] == 7) | (df['Ozone'].between(50, 100))]

     Ozone  Solar.R  Wind  Temp  Month  Day
40    71.0    291.0  13.8    90      6    9
62   135.0    269.0   4.1    84      7    1
63    49.0    248.0   9.2    85      7    2
64    32.0    236.0   9.2    81      7    3
65     NaN    101.0  10.9    84      7    4
66    64.0    175.0   4.6    83      7    5
67    40.0    314.0  10.9    83      7    6
68    77.0    276.0   5.1    88      7    7
69    97.0    267.0   6.3    92      7    8
70    97.0    272.0   5.7    92      7    9
71    85.0    175.0   7.4    89      7   10
72     NaN    139.0   8.6    82      7   11
73    10.0    264.0  14.3    73      7   12
74    27.0    175.0  14.9    81      7   13
75     NaN    291.0  14.9    91      7   14
76     7.0     48.0  14.3    80      7   15
77    48.0    260.0   6.9    81      7   16
78    35.0    274.0  10.3    82      7   17
79    61.0    285.0   6.3    84      7   18
80    79.0    187.0   5.1    87      7   19
81    63.0    220.0  11.5    85      7   20
82    16.0      7.0   6.9    74      7   21
83     NaN    258.0   9.7    81      7   22
84     NaN    295.0  11.5    82      7   23
85    80.0    294.0   8.6    86      7   24
86   108.0    223.0   8.0    85      7   25
87    20.0     81.0   8.6    82      7   26
88    52.0     82.0  12.0    86      7   27
89    82.0    213.0   7.4    88      7   28
90    50.0    275.0   7.4    86      7   29
91    64.0    253.0   7.4    83      7   30
92    59.0    254.0   9.2    81      7   31
96    78.0      NaN   6.9    86      8    4
98    66.0      NaN   4.6    87      8    6
100   89.0    229.0  10.3    90      8    8
106   65.0    157.0   9.7    80      8   14
109   59.0     51.0   6.3    79      8   17
118   73.0    215.0   8.0    86      8   26
120   76.0    203.0   9.7    97      8   28
122   84.0    237.0   6.3    96      8   30
123   85.0    188.0   6.3    94      8   31
124   96.0    167.0   6.9    91      9    1
125   78.0    197.0   5.1    92      9    2
126   73.0    183.0   2.8    93      9    3
127   91.0    189.0   4.6    93      9    4

### T6. Sorting
- Sort the dataset by Ozone descending and Temp ascending (multi-column sort).
- Sort the dataset by Month then Day to get chronological order.

#### Sort
- In Pandas, sort_values() function sorts a DataFrame by one or more columns in ascending or descending order. This method is essential for organizing and analyzing large datasets effectively.

In [70]:
df_mv.sort_values(by=['Ozone', 'Temp'], ascending=[False, True])

     Ozone     Solar.R  Wind  Temp  Month  Day
117  168.0  238.000000   3.4    81      8   25
62   135.0  269.000000   4.1    84      7    1
99   122.0  255.000000   4.0    89      8    7
121  118.0  225.000000   2.3    94      8   29
30   115.0  223.000000   5.7    79      5   30
101  110.0  207.000000   8.0    90      8    9
86   108.0  223.000000   8.0    85      7   25
69    97.0  267.000000   6.3    92      7    8
70    97.0  272.000000   5.7    92      7    9
124   96.0  167.000000   6.9    91      9    1
127   91.0  189.000000   4.6    93      9    4
100   89.0  229.000000  10.3    90      8    8
71    85.0  175.000000   7.4    89      7   10
123   85.0  188.000000   6.3    94      8   31
122   84.0  237.000000   6.3    96      8   30
89    82.0  213.000000   7.4    88      7   28
85    80.0  294.000000   8.6    86      7   24
80    79.0  187.000000   5.1    87      7   19
96    78.0  185.931507   6.9    86      8    4
125   78.0  197.000000   5.1    92      9    2
68    77.0  276.000000   5.1    88      7    7
120   76.0  203.000000   9.7    97      8   28
118   73.0  215.000000   8.0    86      8   26
126   73.0  183.000000   2.8    93      9    3
40    71.0  291.000000  13.8    90      6    9
98    66.0  185.931507   4.6    87      8    6
106   65.0  157.000000   9.7    80      8   14
66    64.0  175.000000   4.6    83      7    5
91    64.0  253.000000   7.4    83      7   30
81    63.0  220.000000  11.5    85      7   20
79    61.0  285.000000   6.3    84      7   18
109   59.0   51.000000   6.3    79      8   17
92    59.0  254.000000   9.2    81      7   31
88    52.0   82.000000  12.0    86      7   27
90    50.0  275.000000   7.4    86      7   29
63    49.0  248.000000   9.2    85      7    2
77    48.0  260.000000   6.9    81      7   16
128   47.0   95.000000   7.4    87      9    5
139   46.0  237.000000   6.9    78      9   16
116   45.0  212.000000   9.7    79      8   24
29    45.0  252.000000  14.9    81      5   29
112   44.0  190.000000  10.3    78      8   20
134   44.0  236.000000  14.9    81      9   11
104   44.0  192.000000  11.5    86      8   12
1     41.0  190.000000   7.4    67      5    1
67    40.0  314.000000  10.9    83      7    6
93    39.0   83.000000   6.9    81      8    1
41    39.0  323.000000  11.5    87      6   10
48    37.0  284.000000  20.7    72      6   17
31    37.0  279.000000   7.4    76      5   31
2     36.0  118.000000   8.0    72      5    2
146   36.0  139.000000  10.3    81      9   23
78    35.0  274.000000  10.3    82      7   17
97    35.0  185.931507   7.4    85      8    5
17    34.0  307.000000  12.0    66      5   17
24    32.0   92.000000  12.0    61      5   24
64    32.0  236.000000   9.2    81      7    3
129   32.0   92.000000  15.5    84      9    6
5     31.5  185.931507  14.3    56      5    5
25    31.5   66.000000  16.6    57      5   25
27    31.5  185.931507   8.0    57      5   27
26    31.5  266.000000  14.9    58      5   26
34    31.5  242.000000  16.1    67      6    3
10    31.5  194.000000   8.6    69      5   10
58    31.5   47.000000  10.3    73      6   27
33    31.5  287.000000   9.7    74      6    2
56    31.5  135.000000   8.0    75      6   25
115   31.5  255.000000  12.6    75      8   23
53    31.5   59.000000   1.7    76      6   22
54    31.5   91.000000   4.6    76      6   23
55    31.5  250.000000   6.3    76      6   24
52    31.5  150.000000   6.3    77      6   21
60    31.5   31.000000  14.9    77      6   29
150   31.5  145.000000  13.2    77      9   27
32    31.5  286.000000   8.6    78      6    1
57    31.5  127.000000   8.0    78      6   26
37    31.5  264.000000  14.3    79      6    6
46    31.5  322.000000  11.5    79      6   15
107   31.5   64.000000  11.5    79      8   15
45    31.5  332.000000  13.8    80      6   14
59    31.5   98.000000  11.5    80      6   28
83    31.5  258.000000   9.7    81      7   22
72    31.5  139.000000   8.6    82      7   11
84    31.5  295.000000  11.5    82      7   23
61    31.5  138.000000   8.0    83      6   30
35    31.5  186.000000   9.2    84      6    4
65    31.5  101.000000  10.9    84      7    4
36    31.5  220.000000   8.6    85      6    5
103   31.5  137.000000  11.5    86      8   11
39    31.5  273.000000   6.9    87      6    8
119   31.5  153.000000   5.7    88      8   27
75    31.5  291.000000  14.9    91      7   14
43    31.5  250.000000   9.2    92      6   12
102   31.5  222.000000   8.6    92      8   10
42    31.5  259.000000  10.9    93      6   11
111   31.0  244.000000  10.9    78      8   19
19    30.0  322.000000  11.5    68      5   19
149   30.0  193.000000   6.9    70      9   26
38    29.0  127.000000   9.7    82      6    7
6     28.0  185.931507  14.9    66      5    6
136   28.0  238.000000   6.3    77      9   13
105   28.0  273.000000  11.5    82      8   13
74    27.0  175.000000  14.9    81      7   13
142   24.0  238.000000  10.3    68      9   19
133   24.0  259.000000   9.7    73      9   10
7     23.0  299.000000   8.6    65      5    7
28    23.0   13.000000  12.0    67      5   28
145   23.0   14.000000   9.2    71      9   22
110   23.0  115.000000   7.4    76      8   18
131   23.0  220.000000  10.3    78      9    8
44    23.0  148.000000   8.0    82      6   13
108   22.0   71.000000  10.3    77      8   16
132   21.0  230.000000  10.9    75      9    9
135   21.0  259.000000  15.5    76      9   12
47    21.0  191.000000  14.9    77      6   16
113   21.0  259.000000  15.5    77      8   21
49    20.0   37.000000   9.2    65      6   18
153   20.0  223.000000  11.5    68      9   30
130   20.0  252.000000  10.9    80      9    7
87    20.0   81.000000   8.6    82      7   26
8     19.0   99.000000  13.8    59      5    8
15    18.0   65.000000  13.2    58      5   15
4     18.0  313.000000  11.5    62      5    4
140   18.0  224.000000  13.8    67      9   17
152   18.0  131.000000   8.0    76      9   29
12    16.0  256.000000   9.7    69      5   12
82    16.0    7.000000   6.9    74      7   21
95    16.0   77.000000   7.4    82      8    3
143   16.0  201.000000   8.0    82      9   20
148   14.0   20.000000  16.6    63      9   25
16    14.0  334.000000  11.5    64      5   16
14    14.0  274.000000  10.9    68      5   14
151   14.0  191.000000  14.3    75      9   28
144   13.0  238.000000  12.6    64      9   21
138   13.0  112.000000  11.5    71      9   15
51    13.0  137.000000  10.3    76      6   20
141   13.0   27.000000  10.3    76      9   18
50    12.0  120.000000  11.5    73      6   19
3     12.0  149.000000  12.6    74      5    3
20    11.0   44.000000   9.7    62      5   20
13    11.0  290.000000   9.2    66      5   13
22    11.0  320.000000  16.6    73      5   22
73    10.0  264.000000  14.3    73      7   12
137    9.0   24.000000  10.9    71      9   14
114    9.0   36.000000  14.3    72      8   22
94     9.0   24.000000  13.8    81      8    2
9      8.0   19.000000  20.1    61      5    9
147    7.0   49.000000  10.3    69      9   24
11     7.0  185.931507   6.9    74      5   11
76     7.0   48.000000  14.3    80      7   15
18     6.0   78.000000  18.4    57      5   18
23     4.0   25.000000   9.7    61      5   23
21     1.0    8.000000   9.7    59      5   21

In [71]:
df.sort_values(by=['Month', 'Day'], ascending=[True, True])

     Ozone  Solar.R  Wind  Temp  Month  Day
1     41.0    190.0   7.4    67      5    1
2     36.0    118.0   8.0    72      5    2
3     12.0    149.0  12.6    74      5    3
4     18.0    313.0  11.5    62      5    4
5      NaN      NaN  14.3    56      5    5
6     28.0      NaN  14.9    66      5    6
7     23.0    299.0   8.6    65      5    7
8     19.0     99.0  13.8    59      5    8
9      8.0     19.0  20.1    61      5    9
10     NaN    194.0   8.6    69      5   10
11     7.0      NaN   6.9    74      5   11
12    16.0    256.0   9.7    69      5   12
13    11.0    290.0   9.2    66      5   13
14    14.0    274.0  10.9    68      5   14
15    18.0     65.0  13.2    58      5   15
16    14.0    334.0  11.5    64      5   16
17    34.0    307.0  12.0    66      5   17
18     6.0     78.0  18.4    57      5   18
19    30.0    322.0  11.5    68      5   19
20    11.0     44.0   9.7    62      5   20
21     1.0      8.0   9.7    59      5   21
22    11.0    320.0  16.6    73      5   22
23     4.0     25.0   9.7    61      5   23
24    32.0     92.0  12.0    61      5   24
25     NaN     66.0  16.6    57      5   25
26     NaN    266.0  14.9    58      5   26
27     NaN      NaN   8.0    57      5   27
28    23.0     13.0  12.0    67      5   28
29    45.0    252.0  14.9    81      5   29
30   115.0    223.0   5.7    79      5   30
31    37.0    279.0   7.4    76      5   31
32     NaN    286.0   8.6    78      6    1
33     NaN    287.0   9.7    74      6    2
34     NaN    242.0  16.1    67      6    3
35     NaN    186.0   9.2    84      6    4
36     NaN    220.0   8.6    85      6    5
37     NaN    264.0  14.3    79      6    6
38    29.0    127.0   9.7    82      6    7
39     NaN    273.0   6.9    87      6    8
40    71.0    291.0  13.8    90      6    9
41    39.0    323.0  11.5    87      6   10
42     NaN    259.0  10.9    93      6   11
43     NaN    250.0   9.2    92      6   12
44    23.0    148.0   8.0    82      6   13
45     NaN    332.0  13.8    80      6   14
46     NaN    322.0  11.5    79      6   15
47    21.0    191.0  14.9    77      6   16
48    37.0    284.0  20.7    72      6   17
49    20.0     37.0   9.2    65      6   18
50    12.0    120.0  11.5    73      6   19
51    13.0    137.0  10.3    76      6   20
52     NaN    150.0   6.3    77      6   21
53     NaN     59.0   1.7    76      6   22
54     NaN     91.0   4.6    76      6   23
55     NaN    250.0   6.3    76      6   24
56     NaN    135.0   8.0    75      6   25
57     NaN    127.0   8.0    78      6   26
58     NaN     47.0  10.3    73      6   27
59     NaN     98.0  11.5    80      6   28
60     NaN     31.0  14.9    77      6   29
61     NaN    138.0   8.0    83      6   30
62   135.0    269.0   4.1    84      7    1
63    49.0    248.0   9.2    85      7    2
64    32.0    236.0   9.2    81      7    3
65     NaN    101.0  10.9    84      7    4
66    64.0    175.0   4.6    83      7    5
67    40.0    314.0  10.9    83      7    6
68    77.0    276.0   5.1    88      7    7
69    97.0    267.0   6.3    92      7    8
70    97.0    272.0   5.7    92      7    9
71    85.0    175.0   7.4    89      7   10
72     NaN    139.0   8.6    82      7   11
73    10.0    264.0  14.3    73      7   12
74    27.0    175.0  14.9    81      7   13
75     NaN    291.0  14.9    91      7   14
76     7.0     48.0  14.3    80      7   15
77    48.0    260.0   6.9    81      7   16
78    35.0    274.0  10.3    82      7   17
79    61.0    285.0   6.3    84      7   18
80    79.0    187.0   5.1    87      7   19
81    63.0    220.0  11.5    85      7   20
82    16.0      7.0   6.9    74      7   21
83     NaN    258.0   9.7    81      7   22
84     NaN    295.0  11.5    82      7   23
85    80.0    294.0   8.6    86      7   24
86   108.0    223.0   8.0    85      7   25
87    20.0     81.0   8.6    82      7   26
88    52.0     82.0  12.0    86      7   27
89    82.0    213.0   7.4    88      7   28
90    50.0    275.0   7.4    86      7   29
91    64.0    253.0   7.4    83      7   30
92    59.0    254.0   9.2    81      7   31
93    39.0     83.0   6.9    81      8    1
94     9.0     24.0  13.8    81      8    2
95    16.0     77.0   7.4    82      8    3
96    78.0      NaN   6.9    86      8    4
97    35.0      NaN   7.4    85      8    5
98    66.0      NaN   4.6    87      8    6
99   122.0    255.0   4.0    89      8    7
100   89.0    229.0  10.3    90      8    8
101  110.0    207.0   8.0    90      8    9
102    NaN    222.0   8.6    92      8   10
103    NaN    137.0  11.5    86      8   11
104   44.0    192.0  11.5    86      8   12
105   28.0    273.0  11.5    82      8   13
106   65.0    157.0   9.7    80      8   14
107    NaN     64.0  11.5    79      8   15
108   22.0     71.0  10.3    77      8   16
109   59.0     51.0   6.3    79      8   17
110   23.0    115.0   7.4    76      8   18
111   31.0    244.0  10.9    78      8   19
112   44.0    190.0  10.3    78      8   20
113   21.0    259.0  15.5    77      8   21
114    9.0     36.0  14.3    72      8   22
115    NaN    255.0  12.6    75      8   23
116   45.0    212.0   9.7    79      8   24
117  168.0    238.0   3.4    81      8   25
118   73.0    215.0   8.0    86      8   26
119    NaN    153.0   5.7    88      8   27
120   76.0    203.0   9.7    97      8   28
121  118.0    225.0   2.3    94      8   29
122   84.0    237.0   6.3    96      8   30
123   85.0    188.0   6.3    94      8   31
124   96.0    167.0   6.9    91      9    1
125   78.0    197.0   5.1    92      9    2
126   73.0    183.0   2.8    93      9    3
127   91.0    189.0   4.6    93      9    4
128   47.0     95.0   7.4    87      9    5
129   32.0     92.0  15.5    84      9    6
130   20.0    252.0  10.9    80      9    7
131   23.0    220.0  10.3    78      9    8
132   21.0    230.0  10.9    75      9    9
133   24.0    259.0   9.7    73      9   10
134   44.0    236.0  14.9    81      9   11
135   21.0    259.0  15.5    76      9   12
136   28.0    238.0   6.3    77      9   13
137    9.0     24.0  10.9    71      9   14
138   13.0    112.0  11.5    71      9   15
139   46.0    237.0   6.9    78      9   16
140   18.0    224.0  13.8    67      9   17
141   13.0     27.0  10.3    76      9   18
142   24.0    238.0  10.3    68      9   19
143   16.0    201.0   8.0    82      9   20
144   13.0    238.0  12.6    64      9   21
145   23.0     14.0   9.2    71      9   22
146   36.0    139.0  10.3    81      9   23
147    7.0     49.0  10.3    69      9   24
148   14.0     20.0  16.6    63      9   25
149   30.0    193.0   6.9    70      9   26
150    NaN    145.0  13.2    77      9   27
151   14.0    191.0  14.3    75      9   28
152   18.0    131.0   8.0    76      9   29
153   20.0    223.0  11.5    68      9   30

In [74]:
df.sort_values(by=['Month', 'Day'], ascending =[False, False])

     Ozone  Solar.R  Wind  Temp  Month  Day
153   20.0    223.0  11.5    68      9   30
152   18.0    131.0   8.0    76      9   29
151   14.0    191.0  14.3    75      9   28
150    NaN    145.0  13.2    77      9   27
149   30.0    193.0   6.9    70      9   26
148   14.0     20.0  16.6    63      9   25
147    7.0     49.0  10.3    69      9   24
146   36.0    139.0  10.3    81      9   23
145   23.0     14.0   9.2    71      9   22
144   13.0    238.0  12.6    64      9   21
143   16.0    201.0   8.0    82      9   20
142   24.0    238.0  10.3    68      9   19
141   13.0     27.0  10.3    76      9   18
140   18.0    224.0  13.8    67      9   17
139   46.0    237.0   6.9    78      9   16
138   13.0    112.0  11.5    71      9   15
137    9.0     24.0  10.9    71      9   14
136   28.0    238.0   6.3    77      9   13
135   21.0    259.0  15.5    76      9   12
134   44.0    236.0  14.9    81      9   11
133   24.0    259.0   9.7    73      9   10
132   21.0    230.0  10.9    75      9    9
131   23.0    220.0  10.3    78      9    8
130   20.0    252.0  10.9    80      9    7
129   32.0     92.0  15.5    84      9    6
128   47.0     95.0   7.4    87      9    5
127   91.0    189.0   4.6    93      9    4
126   73.0    183.0   2.8    93      9    3
125   78.0    197.0   5.1    92      9    2
124   96.0    167.0   6.9    91      9    1
123   85.0    188.0   6.3    94      8   31
122   84.0    237.0   6.3    96      8   30
121  118.0    225.0   2.3    94      8   29
120   76.0    203.0   9.7    97      8   28
119    NaN    153.0   5.7    88      8   27
118   73.0    215.0   8.0    86      8   26
117  168.0    238.0   3.4    81      8   25
116   45.0    212.0   9.7    79      8   24
115    NaN    255.0  12.6    75      8   23
114    9.0     36.0  14.3    72      8   22
113   21.0    259.0  15.5    77      8   21
112   44.0    190.0  10.3    78      8   20
111   31.0    244.0  10.9    78      8   19
110   23.0    115.0   7.4    76      8   18
109   59.0     51.0   6.3    79      8   17
108   22.0     71.0  10.3    77      8   16
107    NaN     64.0  11.5    79      8   15
106   65.0    157.0   9.7    80      8   14
105   28.0    273.0  11.5    82      8   13
104   44.0    192.0  11.5    86      8   12
103    NaN    137.0  11.5    86      8   11
102    NaN    222.0   8.6    92      8   10
101  110.0    207.0   8.0    90      8    9
100   89.0    229.0  10.3    90      8    8
99   122.0    255.0   4.0    89      8    7
98    66.0      NaN   4.6    87      8    6
97    35.0      NaN   7.4    85      8    5
96    78.0      NaN   6.9    86      8    4
95    16.0     77.0   7.4    82      8    3
94     9.0     24.0  13.8    81      8    2
93    39.0     83.0   6.9    81      8    1
92    59.0    254.0   9.2    81      7   31
91    64.0    253.0   7.4    83      7   30
90    50.0    275.0   7.4    86      7   29
89    82.0    213.0   7.4    88      7   28
88    52.0     82.0  12.0    86      7   27
87    20.0     81.0   8.6    82      7   26
86   108.0    223.0   8.0    85      7   25
85    80.0    294.0   8.6    86      7   24
84     NaN    295.0  11.5    82      7   23
83     NaN    258.0   9.7    81      7   22
82    16.0      7.0   6.9    74      7   21
81    63.0    220.0  11.5    85      7   20
80    79.0    187.0   5.1    87      7   19
79    61.0    285.0   6.3    84      7   18
78    35.0    274.0  10.3    82      7   17
77    48.0    260.0   6.9    81      7   16
76     7.0     48.0  14.3    80      7   15
75     NaN    291.0  14.9    91      7   14
74    27.0    175.0  14.9    81      7   13
73    10.0    264.0  14.3    73      7   12
72     NaN    139.0   8.6    82      7   11
71    85.0    175.0   7.4    89      7   10
70    97.0    272.0   5.7    92      7    9
69    97.0    267.0   6.3    92      7    8
68    77.0    276.0   5.1    88      7    7
67    40.0    314.0  10.9    83      7    6
66    64.0    175.0   4.6    83      7    5
65     NaN    101.0  10.9    84      7    4
64    32.0    236.0   9.2    81      7    3
63    49.0    248.0   9.2    85      7    2
62   135.0    269.0   4.1    84      7    1
61     NaN    138.0   8.0    83      6   30
60     NaN     31.0  14.9    77      6   29
59     NaN     98.0  11.5    80      6   28
58     NaN     47.0  10.3    73      6   27
57     NaN    127.0   8.0    78      6   26
56     NaN    135.0   8.0    75      6   25
55     NaN    250.0   6.3    76      6   24
54     NaN     91.0   4.6    76      6   23
53     NaN     59.0   1.7    76      6   22
52     NaN    150.0   6.3    77      6   21
51    13.0    137.0  10.3    76      6   20
50    12.0    120.0  11.5    73      6   19
49    20.0     37.0   9.2    65      6   18
48    37.0    284.0  20.7    72      6   17
47    21.0    191.0  14.9    77      6   16
46     NaN    322.0  11.5    79      6   15
45     NaN    332.0  13.8    80      6   14
44    23.0    148.0   8.0    82      6   13
43     NaN    250.0   9.2    92      6   12
42     NaN    259.0  10.9    93      6   11
41    39.0    323.0  11.5    87      6   10
40    71.0    291.0  13.8    90      6    9
39     NaN    273.0   6.9    87      6    8
38    29.0    127.0   9.7    82      6    7
37     NaN    264.0  14.3    79      6    6
36     NaN    220.0   8.6    85      6    5
35     NaN    186.0   9.2    84      6    4
34     NaN    242.0  16.1    67      6    3
33     NaN    287.0   9.7    74      6    2
32     NaN    286.0   8.6    78      6    1
31    37.0    279.0   7.4    76      5   31
30   115.0    223.0   5.7    79      5   30
29    45.0    252.0  14.9    81      5   29
28    23.0     13.0  12.0    67      5   28
27     NaN      NaN   8.0    57      5   27
26     NaN    266.0  14.9    58      5   26
25     NaN     66.0  16.6    57      5   25
24    32.0     92.0  12.0    61      5   24
23     4.0     25.0   9.7    61      5   23
22    11.0    320.0  16.6    73      5   22
21     1.0      8.0   9.7    59      5   21
20    11.0     44.0   9.7    62      5   20
19    30.0    322.0  11.5    68      5   19
18     6.0     78.0  18.4    57      5   18
17    34.0    307.0  12.0    66      5   17
16    14.0    334.0  11.5    64      5   16
15    18.0     65.0  13.2    58      5   15
14    14.0    274.0  10.9    68      5   14
13    11.0    290.0   9.2    66      5   13
12    16.0    256.0   9.7    69      5   12
11     7.0      NaN   6.9    74      5   11
10     NaN    194.0   8.6    69      5   10
9      8.0     19.0  20.1    61      5    9
8     19.0     99.0  13.8    59      5    8
7     23.0    299.0   8.6    65      5    7
6     28.0      NaN  14.9    66      5    6
5      NaN      NaN  14.3    56      5    5
4     18.0    313.0  11.5    62      5    4
3     12.0    149.0  12.6    74      5    3
2     36.0    118.0   8.0    72      5    2
1     41.0    190.0   7.4    67      5    1

### T7 Duplicates
- Check if there are any fully duplicated rows.
- Intentionally create a few duplicate rows (e.g., duplicate first 3 rows) into df_dup.
- Remove duplicates and report how many were removed.

#### Duplicates 
- The duplicated() method in Pandas helps us to find these duplicates in our data quickly and returns True for duplicates and False for unique rows.

In [138]:
df_mv.shape

(153, 7)

In [125]:
df_mv.duplicated().any()

np.False_

In [127]:
df_mv.duplicated().sum()

np.int64(0)

In [135]:
df_dup = pd.concat([df_mv, df_mv.iloc[0:3]], ignore_index=True)

In [137]:
df_dup.shape

(156, 7)

In [141]:
df_dup.duplicated().sum()

np.int64(3)

In [120]:
print(df_mv_dup.duplicated().sum())

0

In [144]:
print(df_dup[df_dup.duplicated()])

     Ozone  Solar.R  Wind  Temp  Month  Day     Temp_C
153   41.0    190.0   7.4    67      5    1  19.444444
154   36.0    118.0   8.0    72      5    2  22.222222
155   12.0    149.0  12.6    74      5    3  23.333333

In [150]:
df_dup_no_dupes = df_dup.drop_duplicates()

In [147]:
removed_count = df_mv_dup.shape[0] - df_mv_no_dup.shape[0]

In [151]:
df_dup_no_dupes.shape

(153, 7)

In [148]:
df_mv_dup.duplicated(keep=False).sum()

np.int64(0)

In [149]:
df_mv_dup.duplicated().sum()

np.int64(0)

### T8. Derived columns
- Create a new column Temp_C converting Fahrenheit to Celsius.
- Flag a new boolean column High_Ozone where Ozone > 100.
- Create a categorical column Temp_Band with labels: Cool (<75F), Warm (75–85F), Hot (>85F).

#### Derived Column
- In pandas, a "derived column" refers to a new column added to a DataFrame whose values are calculated or generated based on the values of one or more existing columns within the same DataFrame.

In [157]:
df_mv['Temp_C'] = (df_mv['Temp'] - 32) * 5/9

In [154]:
df_mv.head()

   Ozone     Solar.R  Wind  Temp  Month  Day     Temp_C
1   41.0  190.000000   7.4    67      5    1  19.444444
2   36.0  118.000000   8.0    72      5    2  22.222222
3   12.0  149.000000  12.6    74      5    3  23.333333
4   18.0  313.000000  11.5    62      5    4  16.666667
5   31.5  185.931507  14.3    56      5    5  13.333333

In [158]:
df_mv['High_Ozone'] = df_mv['Ozone'] > 100

In [163]:
df_mv[df_mv['High_Ozone']]

     Ozone  Solar.R  Wind  Temp  Month  Day     Temp_C  High_Ozone
30   115.0    223.0   5.7    79      5   30  26.111111        True
62   135.0    269.0   4.1    84      7    1  28.888889        True
86   108.0    223.0   8.0    85      7   25  29.444444        True
99   122.0    255.0   4.0    89      8    7  31.666667        True
101  110.0    207.0   8.0    90      8    9  32.222222        True
117  168.0    238.0   3.4    81      8   25  27.222222        True
121  118.0    225.0   2.3    94      8   29  34.444444        True

In [164]:
df_mv['High_Ozone'].sum()

np.int64(7)

In [167]:
bins = [float('-inf'), 75, 85, float('inf')]  # defines edges: <75, 75–85, >85
labels = ['Cool', 'Warm', 'Hot']
df_mv['Temp_Band'] = pd.cut(df_mv['Temp'], bins=bins, labels=labels, right=False)

In [177]:
cols = df_mv.columns.tolist()

In [175]:
print(df_mv)

     Ozone     Solar.R  Wind  Temp  Month  Day     Temp_C  High_Ozone  \
1     41.0  190.000000   7.4    67      5    1  19.444444       False
2     36.0  118.000000   8.0    72      5    2  22.222222       False
3     12.0  149.000000  12.6    74      5    3  23.333333       False
4     18.0  313.000000  11.5    62      5    4  16.666667       False
5     31.5  185.931507  14.3    56      5    5  13.333333       False
6     28.0  185.931507  14.9    66      5    6  18.888889       False
7     23.0  299.000000   8.6    65      5    7  18.333333       False
8     19.0   99.000000  13.8    59      5    8  15.000000       False
9      8.0   19.000000  20.1    61      5    9  16.111111       False
10    31.5  194.000000   8.6    69      5   10  20.555556       False
11     7.0  185.931507   6.9    74      5   11  23.333333       False
12    16.0  256.000000   9.7    69      5   12  20.555556       False
13    11.0  290.000000   9.2    66      5   13  18.888889       False
14    14.0  274.000000  10.9    68      5   14  20.000000       False
15    18.0   65.000000  13.2    58      5   15  14.444444       False
16    14.0  334.000000  11.5    64      5   16  17.777778       False
17    34.0  307.000000  12.0    66      5   17  18.888889       False
18     6.0   78.000000  18.4    57      5   18  13.888889       False
19    30.0  322.000000  11.5    68      5   19  20.000000       False
20    11.0   44.000000   9.7    62      5   20  16.666667       False
21     1.0    8.000000   9.7    59      5   21  15.000000       False
22    11.0  320.000000  16.6    73      5   22  22.777778       False
23     4.0   25.000000   9.7    61      5   23  16.111111       False
24    32.0   92.000000  12.0    61      5   24  16.111111       False
25    31.5   66.000000  16.6    57      5   25  13.888889       False
26    31.5  266.000000  14.9    58      5   26  14.444444       False
27    31.5  185.931507   8.0    57      5   27  13.888889       False
28    23.0   13.000000  12.0    67      5   28  19.444444       False
29    45.0  252.000000  14.9    81      5   29  27.222222       False
30   115.0  223.000000   5.7    79      5   30  26.111111        True
31    37.0  279.000000   7.4    76      5   31  24.444444       False
32    31.5  286.000000   8.6    78      6    1  25.555556       False
33    31.5  287.000000   9.7    74      6    2  23.333333       False
34    31.5  242.000000  16.1    67      6    3  19.444444       False
35    31.5  186.000000   9.2    84      6    4  28.888889       False
36    31.5  220.000000   8.6    85      6    5  29.444444       False
37    31.5  264.000000  14.3    79      6    6  26.111111       False
38    29.0  127.000000   9.7    82      6    7  27.777778       False
39    31.5  273.000000   6.9    87      6    8  30.555556       False
40    71.0  291.000000  13.8    90      6    9  32.222222       False
41    39.0  323.000000  11.5    87      6   10  30.555556       False
42    31.5  259.000000  10.9    93      6   11  33.888889       False
43    31.5  250.000000   9.2    92      6   12  33.333333       False
44    23.0  148.000000   8.0    82      6   13  27.777778       False
45    31.5  332.000000  13.8    80      6   14  26.666667       False
46    31.5  322.000000  11.5    79      6   15  26.111111       False
47    21.0  191.000000  14.9    77      6   16  25.000000       False
48    37.0  284.000000  20.7    72      6   17  22.222222       False
49    20.0   37.000000   9.2    65      6   18  18.333333       False
50    12.0  120.000000  11.5    73      6   19  22.777778       False
51    13.0  137.000000  10.3    76      6   20  24.444444       False
52    31.5  150.000000   6.3    77      6   21  25.000000       False
53    31.5   59.000000   1.7    76      6   22  24.444444       False
54    31.5   91.000000   4.6    76      6   23  24.444444       False
55    31.5  250.000000   6.3    76      6   24  24.444444       False
56    31.5  135.000000   8.0    75      6   25  23.888889       False
57    31.5  127.000000   8.0    78      6   26  25.555556       False
58    31.5   47.000000  10.3    73      6   27  22.777778       False
59    31.5   98.000000  11.5    80      6   28  26.666667       False
60    31.5   31.000000  14.9    77      6   29  25.000000       False
61    31.5  138.000000   8.0    83      6   30  28.333333       False
62   135.0  269.000000   4.1    84      7    1  28.888889        True
63    49.0  248.000000   9.2    85      7    2  29.444444       False
64    32.0  236.000000   9.2    81      7    3  27.222222       False
65    31.5  101.000000  10.9    84      7    4  28.888889       False
66    64.0  175.000000   4.6    83      7    5  28.333333       False
67    40.0  314.000000  10.9    83      7    6  28.333333       False
68    77.0  276.000000   5.1    88      7    7  31.111111       False
69    97.0  267.000000   6.3    92      7    8  33.333333       False
70    97.0  272.000000   5.7    92      7    9  33.333333       False
71    85.0  175.000000   7.4    89      7   10  31.666667       False
72    31.5  139.000000   8.6    82      7   11  27.777778       False
73    10.0  264.000000  14.3    73      7   12  22.777778       False
74    27.0  175.000000  14.9    81      7   13  27.222222       False
75    31.5  291.000000  14.9    91      7   14  32.777778       False
76     7.0   48.000000  14.3    80      7   15  26.666667       False
77    48.0  260.000000   6.9    81      7   16  27.222222       False
78    35.0  274.000000  10.3    82      7   17  27.777778       False
79    61.0  285.000000   6.3    84      7   18  28.888889       False
80    79.0  187.000000   5.1    87      7   19  30.555556       False
81    63.0  220.000000  11.5    85      7   20  29.444444       False
82    16.0    7.000000   6.9    74      7   21  23.333333       False
83    31.5  258.000000   9.7    81      7   22  27.222222       False
84    31.5  295.000000  11.5    82      7   23  27.777778       False
85    80.0  294.000000   8.6    86      7   24  30.000000       False
86   108.0  223.000000   8.0    85      7   25  29.444444        True
87    20.0   81.000000   8.6    82      7   26  27.777778       False
88    52.0   82.000000  12.0    86      7   27  30.000000       False
89    82.0  213.000000   7.4    88      7   28  31.111111       False
90    50.0  275.000000   7.4    86      7   29  30.000000       False
91    64.0  253.000000   7.4    83      7   30  28.333333       False
92    59.0  254.000000   9.2    81      7   31  27.222222       False
93    39.0   83.000000   6.9    81      8    1  27.222222       False
94     9.0   24.000000  13.8    81      8    2  27.222222       False
95    16.0   77.000000   7.4    82      8    3  27.777778       False
96    78.0  185.931507   6.9    86      8    4  30.000000       False
97    35.0  185.931507   7.4    85      8    5  29.444444       False
98    66.0  185.931507   4.6    87      8    6  30.555556       False
99   122.0  255.000000   4.0    89      8    7  31.666667        True
100   89.0  229.000000  10.3    90      8    8  32.222222       False
101  110.0  207.000000   8.0    90      8    9  32.222222        True
102   31.5  222.000000   8.6    92      8   10  33.333333       False
103   31.5  137.000000  11.5    86      8   11  30.000000       False
104   44.0  192.000000  11.5    86      8   12  30.000000       False
105   28.0  273.000000  11.5    82      8   13  27.777778       False
106   65.0  157.000000   9.7    80      8   14  26.666667       False
107   31.5   64.000000  11.5    79      8   15  26.111111       False
108   22.0   71.000000  10.3    77      8   16  25.000000       False
109   59.0   51.000000   6.3    79      8   17  26.111111       False
110   23.0  115.000000   7.4    76      8   18  24.444444       False
111   31.0  244.000000  10.9    78      8   19  25.555556       False
112   44.0  190.000000  10.3    78      8   20  25.555556       False
113   21.0  259.000000  15.5    77      8   21  25.000000       False
114    9.0   36.000000  14.3    72      8   22  22.222222       False
115   31.5  255.000000  12.6    75      8   23  23.888889       False
116   45.0  212.000000   9.7    79      8   24  26.111111       False
117  168.0  238.000000   3.4    81      8   25  27.222222        True
118   73.0  215.000000   8.0    86      8   26  30.000000       False
119   31.5  153.000000   5.7    88      8   27  31.111111       False
120   76.0  203.000000   9.7    97      8   28  36.111111       False
121  118.0  225.000000   2.3    94      8   29  34.444444        True
122   84.0  237.000000   6.3    96      8   30  35.555556       False
123   85.0  188.000000   6.3    94      8   31  34.444444       False
124   96.0  167.000000   6.9    91      9    1  32.777778       False
125   78.0  197.000000   5.1    92      9    2  33.333333       False
126   73.0  183.000000   2.8    93      9    3  33.888889       False
127   91.0  189.000000   4.6    93      9    4  33.888889       False
128   47.0   95.000000   7.4    87      9    5  30.555556       False
129   32.0   92.000000  15.5    84      9    6  28.888889       False
130   20.0  252.000000  10.9    80      9    7  26.666667       False
131   23.0  220.000000  10.3    78      9    8  25.555556       False
132   21.0  230.000000  10.9    75      9    9  23.888889       False
133   24.0  259.000000   9.7    73      9   10  22.777778       False
134   44.0  236.000000  14.9    81      9   11  27.222222       False
135   21.0  259.000000  15.5    76      9   12  24.444444       False
136   28.0  238.000000   6.3    77      9   13  25.000000       False
137    9.0   24.000000  10.9    71      9   14  21.666667       False
138   13.0  112.000000  11.5    71      9   15  21.666667       False
139   46.0  237.000000   6.9    78      9   16  25.555556       False
140   18.0  224.000000  13.8    67      9   17  19.444444       False
141   13.0   27.000000  10.3    76      9   18  24.444444       False
142   24.0  238.000000  10.3    68      9   19  20.000000       False
143   16.0  201.000000   8.0    82      9   20  27.777778       False
144   13.0  238.000000  12.6    64      9   21  17.777778       False
145   23.0   14.000000   9.2    71      9   22  21.666667       False
146   36.0  139.000000  10.3    81      9   23  27.222222       False
147    7.0   49.000000  10.3    69      9   24  20.555556       False
148   14.0   20.000000  16.6    63      9   25  17.222222       False
149   30.0  193.000000   6.9    70      9   26  21.111111       False
150   31.5  145.000000  13.2    77      9   27  25.000000       False
151   14.0  191.000000  14.3    75      9   28  23.888889       False
152   18.0  131.000000   8.0    76      9   29  24.444444       False
153   20.0  223.000000  11.5    68      9   30  20.000000       False

    Temp_Band
1        Cool
2        Cool
3        Cool
4        Cool
5        Cool
6        Cool
7        Cool
8        Cool
9        Cool
10       Cool
11       Cool
12       Cool
13       Cool
14       Cool
15       Cool
16       Cool
17       Cool
18       Cool
19       Cool
20       Cool
21       Cool
22       Cool
23       Cool
24       Cool
25       Cool
26       Cool
27       Cool
28       Cool
29       Warm
30       Warm
31       Warm
32       Warm
33       Cool
34       Cool
35       Warm
36        Hot
37       Warm
38       Warm
39        Hot
40        Hot
41        Hot
42        Hot
43        Hot
44       Warm
45       Warm
46       Warm
47       Warm
48       Cool
49       Cool
50       Cool
51       Warm
52       Warm
53       Warm
54       Warm
55       Warm
56       Warm
57       Warm
58       Cool
59       Warm
60       Warm
61       Warm
62       Warm
63        Hot
64       Warm
65       Warm
66       Warm
67       Warm
68        Hot
69        Hot
70        Hot
71        Hot
72       Warm
73       Cool
74       Warm
75        Hot
76       Warm
77       Warm
78       Warm
79       Warm
80        Hot
81        Hot
82       Cool
83       Warm
84       Warm
85        Hot
86        Hot
87       Warm
88        Hot
89        Hot
90        Hot
91       Warm
92       Warm
93       Warm
94       Warm
95       Warm
96        Hot
97        Hot
98        Hot
99        Hot
100       Hot
101       Hot
102       Hot
103       Hot
104       Hot
105      Warm
106      Warm
107      Warm
108      Warm
109      Warm
110      Warm
111      Warm
112      Warm
113      Warm
114      Cool
115      Warm
116      Warm
117      Warm
118       Hot
119       Hot
120       Hot
121       Hot
122       Hot
123       Hot
124       Hot
125       Hot
126       Hot
127       Hot
128       Hot
129      Warm
130      Warm
131      Warm
132      Warm
133      Cool
134      Warm
135      Warm
136      Warm
137      Cool
138      Cool
139      Warm
140      Cool
141      Warm
142      Cool
143      Warm
144      Cool
145      Cool
146      Warm
147      Cool
148      Cool
149      Cool
150      Warm
151      Warm
152      Warm
153      Cool

### T9. Groupby & aggregation
- Group by Month and compute mean Ozone, median Solar.R, and max Temp.
- Within each Month, count how many days have Ozone > 80.

#####  Groupby & aggregation
- When working with large datasets it's used to group and summarize the data to make analysis easier.

##### Grouping in Pandas
- Grouping in Pandas means organizing your data into groups based on some columns. Once grouped you can perform actions like finding the total, average, count or even pick the first row from each group.
  
###### Aggregation in Pandas
- Aggregation means applying a mathematical function to summarize data. It can be used to get a summary of columns in our dataset like getting sum, minimum, maximum etc. from a particular column of our dataset. The function used for aggregation is agg() the parameter is the function we want to perform.