# Print Function

In [1]:
print('Hello PIIT students')

Hello PIIT students

## Separator
- Sep
- The Sep argumenet defines what to print between multiple values.

In [3]:
print('PIIT','Class','Course','30', sep=',')

PIIT,Class,Course,30

In [4]:
print('Class','Roll no', 'Students', sep='-')

Class-Roll no-Students

## End of Line Character, can be markup also
-end argument controls what comes after the print statement (default is \n--newline).

In [7]:
print('Hello PIIT Students', end='.....')

Hello PIIT Students.....

In [12]:
print('Hello PIIT', end='')

Hello PIIT

In [9]:
print('Hello PIIT', end='\n')
print('PIIT Students')

Hello PIIT
PIIT Students

In [14]:
print('Class', 'PIIT', sep='-', end='\n\n')
print('Students', end='....')

Class-PIIT

Students....

In [15]:
print('Class', 'PIIT', sep='-', end='\t')
print('Students', end='....')

Class-PIIT	Students....

## Formatted (f) strings
- f

In [20]:
name= "Student"
score= 100
print(name, score, sep='-')

Student-100

In [23]:
print(name, 'scored', score, 'marks.')

Student scored 100 marks.

In [25]:
rank = 1

In [27]:
print(f"{name} scored {score} marks and his rank was {rank}.")

Student scored 100 marks and his rank was 1.

In [29]:
name, age='Dennise', 20
print(f'Name of student is {name} and her age is {age}')

Name of student is Dennise and her age is 20

## Format Command

-Old Command

In [31]:
print("Name: {}, Score: {}". format("Dennise",20))

Name: Dennise, Score: 20

In [32]:
print("Class: {}, Students: {}". format("PIIT",20))

Class: PIIT, Students: 20

## Printing List or Ranges

In [33]:
range(5,10,2)

range(5, 10, 2)

In [35]:
print(list(range(5))) #[0,1,2,3,4]

[0, 1, 2, 3, 4]

In [36]:
print(list(range(2,4,8)))

[2]

In [37]:
print(list(range(5,10,2)))

[5, 7, 9]

## Printing with Escape Characters

In [40]:
print("Dennise \nSarah") # \n for new Line

Dennise
Sarah

In [50]:
print("Dennise\t Sarah \t Ana")

Dennise	 Sarah 	 Ana