# Create Data

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import random # create random values

In [ ]:
# Rollnos - list

In [5]:
rollno = list(range(1, 31))   # 20 students; 1 to 21-1
print(type(rollno), rollno)

<class 'list'> [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [10]:
wiki1 = "https://en.wikipedia.org/wiki/List_of_cities_by_GDP"
tables = pd.read_html(wiki1)
print(len(tables))

6

In [11]:
print(f"Found {len(tables)} tables")

Found 6 tables

In [12]:
df_wik = tables[2]

In [13]:
df_wik.head()

,City proper/metropolitan area,Country/region,GDP (billion US$),Population
0,A Coruña metropolitan area,Spain,32.344 (2021)[5],"1,121,758 (2021)[6]"
1,Aachen,Germany,27.092 (2021)[5],"556,631 (2021)[6]"
2,Aalborg,Denmark,30.46 (2022)[5],"591,740 (2022)[6]"
3,Aarhus,Denmark,53.383 (2022)[5],"913,861 (2022)[6]"
4,"Abbotsford, British Columbia",Canada,7.435 (2021)[7],"205,834 (2021)[8]"